In [2]:
import pandas as pd
data2 = pd.read_csv("data2.csv") # This code reads the entire dataset but reads part is the dataset has many columns exceeding 60
print(data2.to_string())

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/13    100       120     250.7
13        60  2020/12/14    106       128     345.3
14        60  2020/12/15    104       132     379.3
15        60  2020/12/16     98       123     275.0
16        60  2020/12/17     98       120     215.2
17        60  2020/12/18    100       120     300.0
18        45  2020/12/19     90       112       NaN
19        60  2020/12/20    103       123     323.0
20        45  2020/12/21     97       125     243.0
21        60  2020/12/22    108       131     364.2
22        45         NaN    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132       NaN
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [15]:
#This code drops rows with null values in the DataFrame. The dropna() method returns a new DataFrame, and will not change the original
import pandas as pd
data2 = pd.read_csv("data2.csv")
new_df = data2.dropna()       
print(new_df.to_string())

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/13    100       120     250.7
13        60  2020/12/14    106       128     345.3
14        60  2020/12/15    104       132     379.3
15        60  2020/12/16     98       123     275.0
16        60  2020/12/17     98       120     215.2
17        60  2020/12/18    100       120     300.0
19        60  2020/12/20    103       123     323.0
20        45  2020/12/21     97       125     243.0
21        60  2020/12/22    108       131     364.2
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [16]:
import pandas as pd

data2 = pd.read_csv('data2.csv')

data2.dropna(inplace = True)

print(data2.to_string())

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/13    100       120     250.7
13        60  2020/12/14    106       128     345.3
14        60  2020/12/15    104       132     379.3
15        60  2020/12/16     98       123     275.0
16        60  2020/12/17     98       120     215.2
17        60  2020/12/18    100       120     300.0
19        60  2020/12/20    103       123     323.0
20        45  2020/12/21     97       125     243.0
21        60  2020/12/22    108       131     364.2
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [17]:
data2.columns

Index(['Duration', 'Date', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [18]:
data2.describe()

         Duration       Pulse    Maxpulse    Calories
count   29.000000   29.000000   29.000000   29.000000
mean    70.344828  104.103448  129.275862  305.462069
std     73.386587    7.784347   13.155381   67.030470
min     30.000000   92.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  103.000000  128.000000  300.000000
75%     60.000000  108.000000  133.000000  345.300000
max    450.000000  130.000000  175.000000  479.000000

In [19]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  29 non-null     int64
 1   Date      29 non-null     object
 2   Pulse     29 non-null     int64
 3   Maxpulse  29 non-null     int64
 4   Calories  29 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

In [20]:
data2.tail(10)

    Duration        Date  Pulse  Maxpulse  Calories
20        45  2020/12/21     97       125     243.0
21        60  2020/12/22    108       131     364.2
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [21]:
data2.head()

   Duration        Date  Pulse  Maxpulse  Calories
0        60  2020/12/01    110       130     409.1
1        60  2020/12/02    117       145     479.0
2        60  2020/12/03    103       135     340.0
3        45  2020/12/04    109       175     282.4
4        45  2020/12/05    117       148     406.0

In [33]:
print(pd.options.display.max_rows)

9999

In [34]:
import pandas as pd

data2 = pd.read_csv('data2.csv')

data2.fillna(130, inplace = True)